:root {
  --color-surface: #121212;
  --color-elevation-1: #ffffff05;
  --color-elevation-2: #ffffff0a;
  --color-primary: #bb86fc;
  --color-primary-dark: #b374ff;
  --color-variant: #3700b3;
  --color-variant-dark: #2f009e;
  --color-secondary: #03dac6;
  --color-secondary-dark: #03b8a5;
  --color-error: #cf6679;

  --color-text: #adadad;
}

.action-button-container {
  display: flex;
  justify-content: center;
}

.standup-logs {
  background-color: var(--color-surface);
  box-sizing: border-box;
  color: var(--color-text);
  min-height: 100vh;
  overflow-x: hidden;
  padding: 1rem 2rem 1rem 1rem;
  width: 100vw;
}

.standup-logs button {
  background-color: var(--color-primary);
  border-color: var(--color-elevation-2);
  border-radius: 8px;
  border-style: solid;
  color: var(--color-surface);
  cursor: pointer;
  font-size: larger;
  margin: 0 1rem;
  min-height: 2.5rem;
  min-width: 8rem;
}
.standup-logs button:active {
  background-color: var(--color-primary-dark);
}
.standup-logs button:focus {
  outline: none;
}

.standup-logs h1 {
  margin-top: 0;
  text-align: center;
}

.standup-logs h2, .standup-logs h3 {
  margin: 1rem 0;
}

.standup-logs h2 {
  margin-top: 0;
}

.standup-logs input {
  background-color: var(--color-surface);
  border-color: var(--color-elevation-1);
  border-radius: 4px;
  border-style: solid;
  caret-color: var(--color-text);
  color: var(--color-text);
  min-height: 2rem;
  min-width: calc(100% - 12px);
  padding-left: 0.5rem;
}

.users {
  background-color: var(--color-elevation-1);
  border: var(--color-surface) solid 2px;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}

.user-container {
  background-color: var(--color-elevation-2);
  border: var(--color-elevation-1) solid 2px;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}
